/* Chat box */

._375XK ._2XaOw {
	padding: 0em;
	
}

.zUJzi .o_DA6 .uwn5j {
	    position: relative;
    height: 100%;
    border-right: 1px solid #5c343c;
    padding: 0;
}
.zUJzi .o_DA6 .uwn5j ._3DYYr._2dPu4 {
    border-left: 2px solid #db4865;
}

._2XaOw {
background: #23272A;
}
.uwn5j {
	background: #23272A;
}
.F3PyX {
	background: #23272A;
}

._375XK textarea {
	background-color: rgba(79, 70, 72);
}

._375XK ._2XaOw ._1j2Cd p {
	background-color: #665570;
	border-radius: 25px;
	
}

._375XK ._2XaOw ._1j2Cd._1Xzzq p {
	background-color: hsl(327, 21%, 40%);
}
