/* Getting rid of pointless stuff  */
/* By Nordic West */

footer #footer-about  {
	display: none;
}
footer #footer-header {
	display: none;
}
footer #footer-links {
	display: none;
}
footer #footer-company {
	display: none;
}
