/* NordicWest */

#mobile-page #profile-page .section-top .profile-badges .profile-badge-list {
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px
}

#mobile-page #profile-page .section-top .profile-badges .profile-badge-list {
    position: relative;
    margin-left: 1040px;
}
