/* Originally by ILoveCry */

{
  /* Background Image | Position | Hght  */
  background-image: url("https://i.pinimg.com/originals/09/8a/9a/098a9a0d598ff7d8c97a1e3ed84a47b3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  
}
