body#root-page-mobile header#pageheader nav.menu>ol>li a i {
	display: none;
}

body#root-page-mobile header#pageheader nav.menu>ol>li a {
    display: block;
    line-height: 20px;
    padding: 14px 5px;
    font-size: 1.2rem;
    text-transform: none;
    color: #e8e8e8;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
}