/*Avatar Page*/
/* ILoveCry, Nordic */
#mobile-page #profile-avatar-list .avatar-list .item .avatar-image {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    padding: 20px; 
    width: 240px;
    height: 350px;  
}

#mobile-page #profile-avatar-list .avatar-list .item .set-active {
    border-radius: 25px;
    padding: 20px; 
    width: 250px;
    height: 50px; 
}
.pure-button-success, a.pure-button-success {
    color: #fff;
    background-color: #ffffff5e;
    margin-bottom: 2rem;
    border-radius: 16px;
}

#mobile-page #profile-avatar-list section.create-avatar-info {
    background-color: #2196f300;
    background-image: -webkit-linear-gradient(45deg,#51adf600 25%,transparent 0,transparent 50%,#51adf600 0,#51adf600 75%,transparent 0,transparent);
    background-image: -o-linear-gradient(45deg,#51adf6 25%,transparent 25%,transparent 50%,#51adf6 50%,#51adf6 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,#51adf600 25%,transparent 0,transparent 50%,#51adf600 0,#51adf600 75%,transparent 0,transparent);
    padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 3px -2px rgb(0 0 0 / 0%);
    box-shadow: 0 3px 3px -2pxrgba(0,0,0,.47);
    padding: 20px 16px;
    margin: 10px 10px 16px;
}

#mobile-page #profile-avatar-list section.create-avatar-info .call-to-action, #mobile-page #profile-avatar-list section.create-avatar-info .signup-button {
    float: right;
    border-radius: 25px;
    padding: 20px; 
}
